<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590904958466-cu4o6fngilfn5niugtk7925guderqi4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590904958466-cu4o6fngilfn5niugtk7925guderqi4p</string>
	<key>API_KEY</key>
	<string>AIzaSyCx6n5cmw-hs2U_nyamgEIK8eLdd98cbTY</string>
	<key>GCM_SENDER_ID</key>
	<string>590904958466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pinaki.InstagramFirestoreTutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestoretutori-79209</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestoretutori-79209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590904958466:ios:17f1b6250e937072cbd11b</string>
</dict>
</plist>